[submodule "source/lib/three"]
	path = source/lib/three
	url = git@github.com:theme-next/theme-next-three
[submodule "source/lib/pace"]
	path = source/lib/pace
	url = git@github.com:theme-next/theme-next-pace
[submodule "source/lib/jquery_lazyload"]
	path = source/lib/jquery_lazyload
	url = git@github.com:theme-next/theme-next-jquery-lazyload
[submodule "source/lib/bookmark"]
	path = source/lib/bookmark
	url = git@github.com:theme-next/theme-next-bookmark.git
[submodule "source/lib/Han"]
	path = source/lib/Han
	url = git@github.com:theme-next/theme-next-han
